.notes-container {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 30px;

  @media screen and (min-width: 768px) {
    grid-column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.zero-state-list {
  margin-top: 50px;

  p {
    font-size: 16px;
    color: #009688;

    strong {
      font-weight: 700;
      font-size: 20px;
    }
  }

  img {
    max-width: 500px;
    width: 100%;
  }
}
